body{
  background:#f5f5f5;
}
#header{
  width:100%;
  position:fixed;
  top:0px;
  left:0;
}
#topbar{
  width:100%;
  background:darkgray;
  height:65px;
  box-shadow: 5px 5px 5px black;
}
#topbar >a{
  padding-top: 15px;
  display: block;
  padding-left: 15px;
}
.span-bar{
 border-bottom: 3px solid white;
height: 4px;
display: block;
width: 30px;
}
#menu{
  display:none;
  width:300px;
  height:auto;
  /*border:2px solid black;*/
  box-shadow:5px 5px 5px #a5a1ab;
  position:absolute;
  top:65px;
  left:55px;
  background:#abc;
}
#menu >li{
  display:block;
}
#menu >li >a{
  color:white;
  display:block;
}
#main{
min-height: 20vw;
display: flex;
justify-content: space-around;
  position:relative;
  top:65px;
}
#main >h1{
  text-align:center;
}
#resources{
min-height: 20vw;
display: flex;
justify-content: space-around;

}
#music-braille{
min-height: 20vw;
display: flex;
justify-content: space-around;
}
#audio{
min-height: 20vw;
display: flex;
justify-content: space-around;
}
